.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#ff6533,#f53e2d );
}
.header__navbar{
    display:flex;
    justify-content: space-between;
    height: var(--navbar-height);
    position: relative;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
    z-index: 100;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    display: inline-block;
    min-height: 26px;
}
.header__navbar-user{
    display:flex ;
    justify-items: center;
    position: relative;
}
.header__navbar-user:hover .header__user-menu{
    display: inline-block;
}
.header__navbar-user-img{
    height: 22px;
    width: 22px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__user-menu{
    list-style: none;
    position: absolute;
    width: 166px;
    background-color: var(--white-color);
    top: 30px;
    right: 0;
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    animation: headerGrowthNotify ease 0.25s;
    display: none;
}
.header__user-menu::before{
    width: 166px;
    height: 30px;
    position: absolute;
    top: -16px;
    right: 0;
    content: "";

}
.header__user-menu::after{
    content: "";
    border-width: 19px 31px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -28px;
    right: 0;
}
.header__user-menu-item{
    padding: 0;

}
.header__user-menu-item a{
    z-index: 1;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 1.4rem;
    display: block;
    text-align: left;
    
}
.header__user-menu-item a:hover{
    cursor: pointer;
    background-color: #fafafa;
}
.header__user-menu-item--seperate{
    border-top: 1px solid var(--border-color);
}
.header__navbar-item-link,
.header__navbar-item{
    text-decoration: none;
    display: flex;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 300;
    align-items: center;
    z-index: 1;
}
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header__navbar-item--separate::after{
    content: "";
    display:block;
    position: absolute;
    border-left: 1px solid rgb(248, 198, 198);
    height: 14px;
    right:-9px;
    top:50%;
    transform: translateY(-50%);
}
.header__navbar-icon{
    font-size: 1.5rem;
    margin: 0 4px;
    color:var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link{
    text-decoration: none;
}

.header__navbar-title--no-poiter{
    cursor: text;
    color:var(--white-color);
}
.header__navbar-item--has-qr:hover .header_qr-code{
    display: block;
    background-color: var(--white-color);
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
/* Header QrCode */
.header_qr-code{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(238, 77, 45,0.08);
}
.header_qr-code::before{
    position: absolute;
    height: 20px;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    top: -9px;

}
.header_qrcode-img{
    width: 100%;
}
.header_qr-apps{
    display: flex;
    justify-content: space-between;
}
.header_qr-link:nth-child(1){
    margin-right: 11px;

}
.header_qr-link:nth-child(2){
    margin-left: 11px;
}
.header_qr-download-app{
    height: 15px;
}
/* Header notification */

.header__notify{
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    position: absolute;
    top: 140%;
    right: 0;
    width: 404px;
    transform-origin: top right 10px;
    animation: headerGrowthNotify ease 0.25s;
    display: none;
    z-index: 100;
    will-change: transform, opacity;
}
.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right:1px;
    top: -30px;
}
.header__notify::after {
    content: "";
    width: 120px;
    height: 20px;
    display: block;
    position: absolute;
    top: -13px;
    right: 0;
}
@keyframes headerGrowthNotify{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color:#999;
    margin: 0 0 0 12px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 40px;
    font-size: 1.4rem;
    cursor: text;
}
.header__notify-list{
    padding: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover,
.header__notify-footer:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color:rgba(238, 77, 45,0.08);
}
.header__notify-link{
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 12px;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    display: block;
    color: var(--text-color);
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
}
.header__notify-footer{
    display: flex;

}   
.header__notify-footer--btn{
    text-decoration: none;
    padding: 8px 32px;
    text-transform: capitalize;
    color: var(--text-color);
    margin: auto;
    font-size: 1.3rem;
}
/* Athune Form */
.auth-form{
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 36px;
}
.auth-form__heading{
    padding:0 0 0 12px;
    font-size: 1.6rem;
    color: var(--text-color);
}
.auth-form__swtich-btn{
    font-size: 1.4rem;
    padding: 16px 0 0 0;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:hover{
    border-color: #888;

}
.auth-form__aside{
    margin-top: 16px;
    padding: 0 8px;
    text-align: center;
}
.auth-form__aside-text{
    font-size: 1.2rem;
    color: var(--text-color);
}
.auth-form__policy{
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 16px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    width: 100%;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socials--sms{
    background-color: rgb(24, 185, 24);
    color: var(--white-color);
}
.auth-form__socials-text{
    margin: 0 32px;
}
.auth-form__socials--github{
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    margin: 0 12px;
    border: 1px solid #eaeaea;
    height: 16px;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header__with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}
.header__mobile-menu{
    display: none;
}
.header__mobile-menu i{
    display: block;
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 148px;
}
.search-icon-mobile{
    margin-left: -36px;
    line-height: 36px;
    display: none;
    -webkit-tap-highlight-color: transparent;
}
.header__search-icon-mobile{
    display: block;
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-input{
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding-left: 18px;
    flex: 1;
}
.header__search-selection{  
    border-left: 1px solid #666;
    
}
.header__search-selection-label{
    color: var(--text-color);
    font-size: 1.4rem;
    padding-left: 16px;
    cursor: pointer;
}
.header__search-selection i{
    font-size: 1.4rem;
    margin: 0 8px;

}
.header__search-btn{
    background-color: var(--primary-color);
    width: 60px;
    border-radius: 2px;
    border: none;
    height: 36px;
    margin: 0 2px;
}
.header__search-icon{
    font-size: 2rem;
    text-align: center;
    color: var(--white-color);

}   
.header__search-selection:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    top: 80%;
    padding-left: 0;
    box-shadow: 0 1px 2px #666 ;
    right: 62px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
    z-index: 1;
}
.header__search-option::before{
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    top: -18px;
}
.header__search-option-item{
    font-size: 1.4rem;
    color: var(--text-color);
    width: 100%;
    padding: 8px 8px;
    text-align: right;
}
.header__search-option-item:hover{
    cursor: pointer;
    background-color: rgb(245, 243, 243);
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-check{
    font-size: 1.2rem;
    margin: 0 4px 0 12px;
    color: var(--primary-color);
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}   
.header__search-history{
    position: absolute;
    top: 108%;
    left: 0;
    background-color: var(--white-color);
    width: calc(100% - 186px);
    box-shadow: 0 0 4px #ccc;
    border-radius: 2px;
    overflow: hidden;
    display: none;
    z-index: 2;

}
.header__search-history-heading{
    margin: 10px 0 0 12px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #999;
}
.header__search-history-list{   
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
    
}
.header__search-history-item:hover{
    background-color: #fafafa;
    
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
/* Header Sort Bar */
.header__sort-bar{
    list-style: none;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    margin: 0;
    padding-left: 0;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    display: none;
}
.header__sort-item{
    flex: 1;
    text-align: center;
}
.header__sort-item a{
    position: relative;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    height: 100%;
    line-height: var(--header-sort-bar-height);
}
.header__sort-item a::before{
    position: absolute;
    content: "";
    top: 25%;
    left: 0;
    height: 60%;
    border-left: 1px solid var(--border-color);

}
.header__sort-item:nth-child(1) .header__sort-link::before{
    display: none;
}
.header__sort-item--active a{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}


/* CSS Header Cart */
.header__cart{
    width: 148px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
    cursor: pointer;
}   
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.6rem;

}
.header__cart-notice{
    color:var(--primary-color);
    position: absolute;
    font-size: 1.2rem;
    background-color: var(--white-color);
    top: -9px;
    border: 2px solid #f13a15;
    right: -1px;
    border-radius: 8px;
    padding: 0px 7px;
    cursor: pointer;
}
.header__cart-list{
    position: absolute;
    background-color: var(--white-color);
    width: 400px;
    top: 133%;
    right: -1px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    cursor: default;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    animation: headerGrowthNotify ease 0.25s;
    display: none;
    z-index: 20;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    border-width: 15px 14px;
    border-style: solid;
    top: -28px;
    cursor: pointer;
    right: 5px;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 100px;
    top: -17px;
    right: 0;
}
.header-cart-heading{
    color: #b1b0af;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: none;
    margin: 8px 12px;
    text-align: left;
}
.header__cart-list-item{
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 50vh;
    overflow-x: auto;
}
.header__cart-item{
    display: flex;
    padding: 12px;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    border: 1px solid var(--border-color);
    object-position: top;
    object-fit: cover;
}
.header__cart-item-info{
    width: 100%;
    margin: 0 12px;
}
.header__cart-item-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__cart-item-name{
    text-align: left;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 4rem;
    padding-right: 12px;
    -webkit-line-clamp: 2;
}
.cart-item-heading-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}
.cart-item-heading-multi{
    font-size: 1.2rem;
    color: #8b7f8c;
}
.cart-item-heading-quantity{
    font-size: 1.4rem;
    color: #91848c;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    padding: 8px 0 0 0;
}
.cart-item-description{
    font-size: 1.3rem;
    color: #8692a7;
    font-weight: 300;
}
.cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
.cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-item-checkout{
    width: 124px;
    float: right;
    margin: 12px;
}

/*App Container */
.app__container{
    background-color: #f5f5f5;
    width: 100%;
}
/* Category - mobile */
.category-mobile-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    left: 0;
    background-color: var(--white-color);
    z-index: 100;
    transform: translateX(-100%);
    transition: transform linear 0.3s;

}
.category-header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f3f3;
}
.category__heading-mobile{
    font-size: 2.4rem;
    padding: 16px 16px;
    color: var(--primary-color);
    margin: 0;
}
.category__heading-icon-mobile{
    font-size: 2.4rem;
    margin-right: 4px;
}
.category-list-mobile{
    list-style: none;
    margin-left: 10px;
    padding:0 0 8px 0;
}
.category-item-link-mobile{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 8px 0 8px 16px;
}
.category-item-link-mobile:focus{
    color: var(--primary-color);
}
.btn-mobile-close{
    font-size: 2.8rem;
    padding-right: 16px;
    color: #5e5e5e;
}
/* Category */
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.7rem;
    padding: 12px 16px;
    color: var(--text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 0;
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list{
    list-style: none;
    margin-left: 10px;
    padding:0 0 8px 0;
}
.category-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.category-item--active a{
    color: var(--primary-color);
}
.category-item--active a::before{
    content: "";
    left: 5px;
    top:50%;
    transform: translateY(calc(-50% - 3px));
    position: absolute;
    border: 5px solid var(--primary-color);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item-link{
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
   transition: right linear 0.1s;
   right: 0;
   height: 30px;

}
.category-item-link:hover{
    right: -4px;
    color: var(--primary-color);
}/* Navbar Mobile Catelory */
.mobile__catelory{
    display: none;
}
.mobile__catelory-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 0;
}
.mobile__catelory-list::-webkit-scrollbar{
    display: none;
}
.mobile__catelory-item{
    flex-shrink: 0;
    margin: 0 4px;
}
.mobile__catelory-item:nth-of-type(3n) .mobile__catelory-link{
    background-color: #87afd8;
}
.mobile__catelory-item:nth-of-type(3n + 1) .mobile__catelory-link{
    background-color: #76c9bd;
}
.mobile__catelory-item:nth-of-type(3n + 2) .mobile__catelory-link{
    background-color: #88cf31;
}
.mobile__catelory-link{
    --line-height: 2rem;
    border-radius: 4px;
    font-weight: 300;
    color: var(--white-color);
    display: block;
    width: 110px;
    height: calc(var(--line-height) * 2);
    text-align: center;
    text-decoration: none;
    line-height: var(--line-height);
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
    -webkit-tap-highlight-color: transparent;
}

/* Home Filter */
.home-filter{
    display: flex;
    border-radius: 2px;
    padding: 12px 24px;
    background-color: #ebebeb;
}
.home-filter__label{
    margin-right: 24px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: #555;
}
.home-filter-btn{
    margin-right: 12px;
    padding: 0 16px;
    min-width: 90px;
}
.home-filter-btn:hover{
    opacity: 0.8;
}
.seclect-input{
    border-radius: 2px;
    min-width: 200px;
    background-color: var(--white-color);
    /* height: 36px; */
    display: flex;
    /* line-height: 36px; */
    padding: 0 16px;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.seclect-input__list{
    position: absolute;
    top: 71%;
    left: 0;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 100%;
    padding: 6px 16px;
    transform-origin: top 10px;
    animation: fadeIn linear 0.2s;
    display: none;
    z-index: 1;
}
.seclect-input:hover .seclect-input__list{
    display: block;
}
.seclect-input__list::before{
    content: "";
    position: absolute;
    top: -10%;
    left: 0;
    height: 16px;
    width: 100%;
}
.seclect-input__item-link{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 6px 0;
    font-size: 1.4rem;
}
.seclect-input__item-link:hover{
    color: var(--primary-color);
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 24px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    display: flex;
    border-radius: 2px;
}
.home-filter__page-btn{
    align-items: center;
    height: 36px;
    width: 36px;
    border: 1px solid #ebebeb;
    background-color: var(--white-color);
    outline: none;
    display: flex;
    flex: 1;
    text-decoration: none;
    justify-content: center;
    color: #555;
}
.home-filter__page-btn:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px ;
}
.home-filter__page-btn:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-icon{
    font-size: 1.6rem;
}

/* Product item */
.home-product{
    margin-bottom:10px;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-bottom-right-radius: 2px;
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    width: 100%;
    display: block;
}
.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    font-size: 1.4rem;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.2rem;
    text-decoration: line-through;
    color: var(--text-color);
    margin-left: 10px;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.home-product-item__action-like{
    font-size: 1.3rem;
}
.home-product-item__action-like-fill{
    display: none;
    color: var(--primary-color);
}
.home-product-item__action-liked .home-product-item__action-like-fill{
    display: inline-block;
}
.home-product-item__action-liked .home-product-item__action-like-empty{
    display: none;
}
.home-product-item__action-rating{
    font-size: 0.8rem;
    color: #ffce3e;
}
.home-product-item__action-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 4px;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
}
.home-product-item__favourite{
    position: absolute;
    background-color: currentColor;
    top: 12px;
    left: -4px;
    color: var(--primary-color);
    font-size: 1rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 4px 0 0;
    border-top-left-radius: 2px;
    line-height: 1.6rem;
    font-weight: 600;
}
.home-product-item__favourite i{
    padding: 0 4px;
    color: var(--white-color);
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite::before{
    content: "";
    position: absolute;
    top: 16px;
    left: 0px;
    filter: brightness(60%);
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
}
.home-product-item__sale-off{
    position: absolute;
    width: 40px;
    height: 36px;
    right: 0;
    top: 0;
    background-color: rgba(248, 206, 62, 0.95);
    text-align: center;
}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(248, 206, 62, 0.95) transparent;
}
.home-product-item__sale-off-percent{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 1.4rem;
    position: relative;
    top: 2px;
}
.home-product-item__sale-off-label{
    position: relative;
    top: 2px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}
.home-product__pagination{
    margin: 48px 0 32px 0 ;
}

/* Footer */
.footer{
    padding: 12px 0;
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-size: 1.6rem;
    flex: 1;
    line-height: 1.8rem;
}
.footer__heading{

    font-size: 1.6rem;
    text-align: left;
    margin: 24px 0;
}
.footer__list{

    padding: 0;
    list-style: none;
}
.footer__item-link{
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: #836f73;
    padding: 12px 0;
    display: block;
    font-weight: 600;
    transition: right linear 0.1s;
    right: 0;
}
.footer__item-link:hover{
    right: -3px;
    color: var(--primary-color);
}
.footer__item-link i {
    font-size: 1.8rem;
    padding-right: 4px;
}
.footer__download{
    display: flex;
    align-items: center;
}
.footer__download-qr{
    border: 1px solid #999;
    height: 80px;
    object-fit: contain;
    object-position: center;
}
.footer__download-img{
    height: 16px;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 12px;
    flex-direction: column;
}
.footer__text{
    
    background-color: #f5f5f5;
    min-height: 32px;
    font-size: 1.4rem;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 700;
}